In [43]:
import pandas as pd
import numpy as np

# Age-adjusted mortality rate (ASMR)

## Data transformation

### a. Ger Dataset

In [44]:
ger = pd.read_csv("Ger_clean_for_ASMR.csv", on_bad_lines='skip',sep=None)
ger.head()

C:\Users\Big City Girl\AppData\Local\Temp\ipykernel_11384\1131873313.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support sep=None with delim_whitespace=False; you can avoid this warning by specifying engine='python'.
  ger = pd.read_csv("Ger_clean_for_ASMR.csv", on_bad_lines='skip',sep=None)

,Year,Country,Age Range,Gender,deaths_by_year_gender_age,deaths_by_year_age,population_by_gender_year_age
0,2008,Germany,0 - 4,Female,1285.0,2950.0,1682865
1,2008,Germany,10 - 14,Female,181.0,410.0,1944911
2,2008,Germany,15 - 19,Female,388.0,1325.0,2224055
3,2008,Germany,20 - 24,Female,520.0,1925.0,2395355
4,2008,Germany,25 - 29,Female,642.0,2181.0,2459976

In [45]:
ger['pop_by_year_age'] = ger.groupby(["Year", "Age Range"], sort=False)['population_by_gender_year_age'].transform('sum')
ger.head(30)

,Year,Country,Age Range,Gender,deaths_by_year_gender_age,deaths_by_year_age,population_by_gender_year_age,pop_by_year_age
0,2008,Germany,0 - 4,Female,1285.0,2950.0,1682865,3456987
1,2008,Germany,10 - 14,Female,181.0,410.0,1944911,3995529
2,2008,Germany,15 - 19,Female,388.0,1325.0,2224055,4562214
3,2008,Germany,20 - 24,Female,520.0,1925.0,2395355,4878460
4,2008,Germany,25 - 29,Female,642.0,2181.0,2459976,4981887
5,2008,Germany,30 - 34,Female,746.0,2526.0,2320419,4705010
6,2008,Germany,35 - 39,Female,1577.0,4577.0,2856585,5828519
7,2008,Germany,40 - 44,Female,3260.0,9476.0,3469624,7115858
8,2008,Germany,45 - 49,Female,5783.0,16511.0,3341439,6801471
9,2008,Germany,5 - 9,Female,138.0,324.0,1831197,3759001
10,2008,Germany,50 - 54,Female,8035.0,23544.0,2907154,5850118
11,2008,Germany,55 - 59,Female,11178.0,32580.0,2683665,5322029
12,2008,Germany,60 - 64,Female,13800.0,39767.0,2155823,4240202
13,2008,Germany,65 - 69,Female,25206.0,71507.0,2723037,5234130
14,2008,Germany,70 - 74,Female,36543.0,95032.0,2363515,4370115
15,2008,Germany,75 - 79,Female,52494.0,117693.0,1748576,3024687
16,2008,Germany,80 - 84,Female,85837.0,149634.0,1464250,2225093
17,2008,Germany,85 - over,Female,199175.0,272476.0,1308735,1768466
18,2008,Germany,0 - 4,Male,1665.0,2950.0,1774122,3456987
19,2008,Germany,10 - 14,Male,229.0,410.0,2050618,3995529
20,2008,Germany,15 - 19,Male,937.0,1325.0,2338159,4562214
21,2008,Germany,20 - 24,Male,1405.0,1925.0,2483105,4878460
22,2008,Germany,25 - 29,Male,1539.0,2181.0,2521911,4981887
23,2008,Germany,30 - 34,Male,1780.0,2526.0,2384591,4705010
24,2008,Germany,35 - 39,Male,3000.0,4577.0,2971934,5828519
25,2008,Germany,40 - 44,Male,6216.0,9476.0,3646234,7115858
26,2008,Germany,45 - 49,Male,10728.0,16511.0,3460032,6801471
27,2008,Germany,5 - 9,Male,186.0,324.0,1927804,3759001
28,2008,Germany,50 - 54,Male,15509.0,23544.0,2942964,5850118
29,2008,Germany,55 - 59,Male,21402.0,32580.0,2638364,5322029

In [46]:
ger["crude_rate"] = ger["deaths_by_year_age"]/ger["pop_by_year_age"]*100000
ger.head(25)

,Year,Country,Age Range,Gender,deaths_by_year_gender_age,deaths_by_year_age,population_by_gender_year_age,pop_by_year_age,crude_rate
0,2008,Germany,0 - 4,Female,1285.0,2950.0,1682865,3456987,85.334426
1,2008,Germany,10 - 14,Female,181.0,410.0,1944911,3995529,10.261470
2,2008,Germany,15 - 19,Female,388.0,1325.0,2224055,4562214,29.042916
3,2008,Germany,20 - 24,Female,520.0,1925.0,2395355,4878460,39.459174
4,2008,Germany,25 - 29,Female,642.0,2181.0,2459976,4981887,43.778592
5,2008,Germany,30 - 34,Female,746.0,2526.0,2320419,4705010,53.687452
6,2008,Germany,35 - 39,Female,1577.0,4577.0,2856585,5828519,78.527667
7,2008,Germany,40 - 44,Female,3260.0,9476.0,3469624,7115858,133.167357
8,2008,Germany,45 - 49,Female,5783.0,16511.0,3341439,6801471,242.756310
9,2008,Germany,5 - 9,Female,138.0,324.0,1831197,3759001,8.619311
10,2008,Germany,50 - 54,Female,8035.0,23544.0,2907154,5850118,402.453421
11,2008,Germany,55 - 59,Female,11178.0,32580.0,2683665,5322029,612.172538
12,2008,Germany,60 - 64,Female,13800.0,39767.0,2155823,4240202,937.856263
13,2008,Germany,65 - 69,Female,25206.0,71507.0,2723037,5234130,1366.167825
14,2008,Germany,70 - 74,Female,36543.0,95032.0,2363515,4370115,2174.588083
15,2008,Germany,75 - 79,Female,52494.0,117693.0,1748576,3024687,3891.080300
16,2008,Germany,80 - 84,Female,85837.0,149634.0,1464250,2225093,6724.842512
17,2008,Germany,85 - over,Female,199175.0,272476.0,1308735,1768466,15407.477441
18,2008,Germany,0 - 4,Male,1665.0,2950.0,1774122,3456987,85.334426
19,2008,Germany,10 - 14,Male,229.0,410.0,2050618,3995529,10.261470
20,2008,Germany,15 - 19,Male,937.0,1325.0,2338159,4562214,29.042916
21,2008,Germany,20 - 24,Male,1405.0,1925.0,2483105,4878460,39.459174
22,2008,Germany,25 - 29,Male,1539.0,2181.0,2521911,4981887,43.778592
23,2008,Germany,30 - 34,Male,1780.0,2526.0,2384591,4705010,53.687452
24,2008,Germany,35 - 39,Male,3000.0,4577.0,2971934,5828519,78.527667

In [47]:
ger["whole_pop"] = ger.groupby("Year", sort=False)['population_by_gender_year_age'].transform('sum')
ger.head(20)

,Year,Country,Age Range,Gender,deaths_by_year_gender_age,deaths_by_year_age,population_by_gender_year_age,pop_by_year_age,crude_rate,whole_pop
0,2008,Germany,0 - 4,Female,1285.0,2950.0,1682865,3456987,85.334426,82119776
1,2008,Germany,10 - 14,Female,181.0,410.0,1944911,3995529,10.261470,82119776
2,2008,Germany,15 - 19,Female,388.0,1325.0,2224055,4562214,29.042916,82119776
3,2008,Germany,20 - 24,Female,520.0,1925.0,2395355,4878460,39.459174,82119776
4,2008,Germany,25 - 29,Female,642.0,2181.0,2459976,4981887,43.778592,82119776
5,2008,Germany,30 - 34,Female,746.0,2526.0,2320419,4705010,53.687452,82119776
6,2008,Germany,35 - 39,Female,1577.0,4577.0,2856585,5828519,78.527667,82119776
7,2008,Germany,40 - 44,Female,3260.0,9476.0,3469624,7115858,133.167357,82119776
8,2008,Germany,45 - 49,Female,5783.0,16511.0,3341439,6801471,242.756310,82119776
9,2008,Germany,5 - 9,Female,138.0,324.0,1831197,3759001,8.619311,82119776
10,2008,Germany,50 - 54,Female,8035.0,23544.0,2907154,5850118,402.453421,82119776
11,2008,Germany,55 - 59,Female,11178.0,32580.0,2683665,5322029,612.172538,82119776
12,2008,Germany,60 - 64,Female,13800.0,39767.0,2155823,4240202,937.856263,82119776
13,2008,Germany,65 - 69,Female,25206.0,71507.0,2723037,5234130,1366.167825,82119776
14,2008,Germany,70 - 74,Female,36543.0,95032.0,2363515,4370115,2174.588083,82119776
15,2008,Germany,75 - 79,Female,52494.0,117693.0,1748576,3024687,3891.080300,82119776
16,2008,Germany,80 - 84,Female,85837.0,149634.0,1464250,2225093,6724.842512,82119776
17,2008,Germany,85 - over,Female,199175.0,272476.0,1308735,1768466,15407.477441,82119776
18,2008,Germany,0 - 4,Male,1665.0,2950.0,1774122,3456987,85.334426,82119776
19,2008,Germany,10 - 14,Male,229.0,410.0,2050618,3995529,10.261470,82119776

In [48]:
ger_pop_distribution_by_age_group = ger[["Year", "Gender", "Age Range", "pop_by_year_age", "whole_pop"]]
ger_pop_distribution_by_age_group.head(25)

    Year  Gender  Age Range  pop_by_year_age  whole_pop
0   2008  Female      0 - 4          3456987   82119776
1   2008  Female    10 - 14          3995529   82119776
2   2008  Female    15 - 19          4562214   82119776
3   2008  Female    20 - 24          4878460   82119776
4   2008  Female    25 - 29          4981887   82119776
5   2008  Female    30 - 34          4705010   82119776
6   2008  Female    35 - 39          5828519   82119776
7   2008  Female    40 - 44          7115858   82119776
8   2008  Female    45 - 49          6801471   82119776
9   2008  Female      5 - 9          3759001   82119776
10  2008  Female    50 - 54          5850118   82119776
11  2008  Female    55 - 59          5322029   82119776
12  2008  Female    60 - 64          4240202   82119776
13  2008  Female    65 - 69          5234130   82119776
14  2008  Female    70 - 74          4370115   82119776
15  2008  Female    75 - 79          3024687   82119776
16  2008  Female    80 - 84          2225093   82119776
17  2008  Female  85 - over          1768466   82119776
18  2008    Male      0 - 4          3456987   82119776
19  2008    Male    10 - 14          3995529   82119776
20  2008    Male    15 - 19          4562214   82119776
21  2008    Male    20 - 24          4878460   82119776
22  2008    Male    25 - 29          4981887   82119776
23  2008    Male    30 - 34          4705010   82119776
24  2008    Male    35 - 39          5828519   82119776

In [49]:
ger_pop_distribution_by_age_group.drop(ger_pop_distribution_by_age_group[ger_pop_distribution_by_age_group.Gender == "Male"].index, inplace=True)

C:\Users\Big City Girl\AppData\Local\Temp\ipykernel_11384\1202125736.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ger_pop_distribution_by_age_group.drop(ger_pop_distribution_by_age_group[ger_pop_distribution_by_age_group.Gender == "Male"].index, inplace=True)

In [50]:
ger_pop_distribution_by_age_group["pop_rate"] = ger_pop_distribution_by_age_group["pop_by_year_age"]/ger_pop_distribution_by_age_group["whole_pop"]
ger_pop_distribution_by_age_group.head(25)

C:\Users\Big City Girl\AppData\Local\Temp\ipykernel_11384\3872400509.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ger_pop_distribution_by_age_group["pop_rate"] = ger_pop_distribution_by_age_group["pop_by_year_age"]/ger_pop_distribution_by_age_group["whole_pop"]

    Year  Gender  Age Range  pop_by_year_age  whole_pop  pop_rate
0   2008  Female      0 - 4          3456987   82119776  0.042097
1   2008  Female    10 - 14          3995529   82119776  0.048655
2   2008  Female    15 - 19          4562214   82119776  0.055556
3   2008  Female    20 - 24          4878460   82119776  0.059407
4   2008  Female    25 - 29          4981887   82119776  0.060666
5   2008  Female    30 - 34          4705010   82119776  0.057294
6   2008  Female    35 - 39          5828519   82119776  0.070976
7   2008  Female    40 - 44          7115858   82119776  0.086652
8   2008  Female    45 - 49          6801471   82119776  0.082824
9   2008  Female      5 - 9          3759001   82119776  0.045775
10  2008  Female    50 - 54          5850118   82119776  0.071239
11  2008  Female    55 - 59          5322029   82119776  0.064808
12  2008  Female    60 - 64          4240202   82119776  0.051634
13  2008  Female    65 - 69          5234130   82119776  0.063738
14  2008  Female    70 - 74          4370115   82119776  0.053216
15  2008  Female    75 - 79          3024687   82119776  0.036833
16  2008  Female    80 - 84          2225093   82119776  0.027096
17  2008  Female  85 - over          1768466   82119776  0.021535
36  2009  Female      0 - 4          3426168   81874770  0.041846
37  2009  Female    10 - 14          3971073   81874770  0.048502
38  2009  Female    15 - 19          4397161   81874770  0.053706
39  2009  Female    20 - 24          4915081   81874770  0.060032
40  2009  Female    25 - 29          4979091   81874770  0.060813
41  2009  Female    30 - 34          4715261   81874770  0.057591
42  2009  Female    35 - 39          5427113   81874770  0.066286

In [51]:
ger_pop_distribution_by_age_group.drop(ger_pop_distribution_by_age_group[ger_pop_distribution_by_age_group.Year == 2020].index, inplace=True)

C:\Users\Big City Girl\AppData\Local\Temp\ipykernel_11384\3629323910.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ger_pop_distribution_by_age_group.drop(ger_pop_distribution_by_age_group[ger_pop_distribution_by_age_group.Year == 2020].index, inplace=True)

In [52]:
ger_new = ger_pop_distribution_by_age_group.groupby(["Age Range"]).agg({'pop_rate':'mean'}).reset_index()
ger_new.head(20)

    Age Range  pop_rate
0       0 - 4  0.043607
1     10 - 14  0.046570
2     15 - 19  0.050791
3     20 - 24  0.057811
4     25 - 29  0.062296
5     30 - 34  0.061356
6     35 - 39  0.061675
7     40 - 44  0.070009
8     45 - 49  0.080442
9       5 - 9  0.043976
10    50 - 54  0.080101
11    55 - 59  0.071392
12    60 - 64  0.060676
13    65 - 69  0.054758
14    70 - 74  0.052882
15    75 - 79  0.045613
16    80 - 84  0.030786
17  85 - over  0.025258

In [53]:
'${:,.3f}'.format(sum(ger_new.pop_rate))

'$1.000'

In [54]:
ger.drop(ger[ger.Gender == "Male"].index, inplace=True)
ger.head(30)

,Year,Country,Age Range,Gender,deaths_by_year_gender_age,deaths_by_year_age,population_by_gender_year_age,pop_by_year_age,crude_rate,whole_pop
0,2008,Germany,0 - 4,Female,1285.0,2950.0,1682865,3456987,85.334426,82119776
1,2008,Germany,10 - 14,Female,181.0,410.0,1944911,3995529,10.261470,82119776
2,2008,Germany,15 - 19,Female,388.0,1325.0,2224055,4562214,29.042916,82119776
3,2008,Germany,20 - 24,Female,520.0,1925.0,2395355,4878460,39.459174,82119776
4,2008,Germany,25 - 29,Female,642.0,2181.0,2459976,4981887,43.778592,82119776
5,2008,Germany,30 - 34,Female,746.0,2526.0,2320419,4705010,53.687452,82119776
6,2008,Germany,35 - 39,Female,1577.0,4577.0,2856585,5828519,78.527667,82119776
7,2008,Germany,40 - 44,Female,3260.0,9476.0,3469624,7115858,133.167357,82119776
8,2008,Germany,45 - 49,Female,5783.0,16511.0,3341439,6801471,242.756310,82119776
9,2008,Germany,5 - 9,Female,138.0,324.0,1831197,3759001,8.619311,82119776
10,2008,Germany,50 - 54,Female,8035.0,23544.0,2907154,5850118,402.453421,82119776
11,2008,Germany,55 - 59,Female,11178.0,32580.0,2683665,5322029,612.172538,82119776
12,2008,Germany,60 - 64,Female,13800.0,39767.0,2155823,4240202,937.856263,82119776
13,2008,Germany,65 - 69,Female,25206.0,71507.0,2723037,5234130,1366.167825,82119776
14,2008,Germany,70 - 74,Female,36543.0,95032.0,2363515,4370115,2174.588083,82119776
15,2008,Germany,75 - 79,Female,52494.0,117693.0,1748576,3024687,3891.080300,82119776
16,2008,Germany,80 - 84,Female,85837.0,149634.0,1464250,2225093,6724.842512,82119776
17,2008,Germany,85 - over,Female,199175.0,272476.0,1308735,1768466,15407.477441,82119776
36,2009,Germany,0 - 4,Female,1211.0,2863.0,1668119,3426168,83.562744,81874770
37,2009,Germany,10 - 14,Female,187.0,405.0,1933050,3971073,10.198755,81874770
38,2009,Germany,15 - 19,Female,405.0,1249.0,2142728,4397161,28.404691,81874770
39,2009,Germany,20 - 24,Female,552.0,1896.0,2409448,4915081,38.575153,81874770
40,2009,Germany,25 - 29,Female,629.0,2195.0,2456994,4979091,44.084352,81874770
41,2009,Germany,30 - 34,Female,828.0,2589.0,2327544,4715261,54.906823,81874770
42,2009,Germany,35 - 39,Female,1440.0,4219.0,2668834,5427113,77.739306,81874770
43,2009,Germany,40 - 44,Female,3162.0,9036.0,3396334,6956594,129.891151,81874770
44,2009,Germany,45 - 49,Female,5733.0,16414.0,3415711,6956512,235.951580,81874770
45,2009,Germany,5 - 9,Female,147.0,318.0,1793307,3680302,8.640595,81874770
46,2009,Germany,50 - 54,Female,8075.0,23775.0,2964640,5977957,397.711124,81874770
47,2009,Germany,55 - 59,Female,11250.0,33180.0,2726407,5396270,614.869160,81874770

In [55]:
ger_join = ger.join(ger_new.set_index('Age Range'), on='Age Range')

In [56]:
ger_join.drop(["Gender", "deaths_by_year_gender_age", "population_by_gender_year_age"],axis=1)

,Year,Country,Age Range,deaths_by_year_age,pop_by_year_age,crude_rate,whole_pop,pop_rate
0,2008,Germany,0 - 4,2950.0,3456987,85.334426,82119776,0.043607
1,2008,Germany,10 - 14,410.0,3995529,10.261470,82119776,0.046570
2,2008,Germany,15 - 19,1325.0,4562214,29.042916,82119776,0.050791
3,2008,Germany,20 - 24,1925.0,4878460,39.459174,82119776,0.057811
4,2008,Germany,25 - 29,2181.0,4981887,43.778592,82119776,0.062296
...,...,...,...,...,...,...,...,...
445,2020,Germany,65 - 69,67524.0,4879070,1383.952270,83160917,0.054758
446,2020,Germany,70 - 74,78728.0,3821085,2060.357202,83160917,0.052882
447,2020,Germany,75 - 79,123229.0,3672226,3355.703053,83160917,0.045613
448,2020,Germany,80 - 84,194795.0,3362394,5793.342482,83160917,0.030786
449,2020,Germany,85 - over,383704.0,2446394,15684.472738,83160917,0.025258

In [57]:
ger_join["cal_1"]=ger_join["crude_rate"]*ger_join["pop_rate"]

In [58]:
ger_join["ASMR"]=ger_join.groupby("Year", sort=False)['cal_1'].transform('sum')
ger_join.head(20)

,Year,Country,Age Range,Gender,deaths_by_year_gender_age,deaths_by_year_age,population_by_gender_year_age,pop_by_year_age,crude_rate,whole_pop,pop_rate,cal_1,ASMR
0,2008,Germany,0 - 4,Female,1285.0,2950.0,1682865,3456987,85.334426,82119776,0.043607,3.721143,1144.386333
1,2008,Germany,10 - 14,Female,181.0,410.0,1944911,3995529,10.261470,82119776,0.046570,0.477880,1144.386333
2,2008,Germany,15 - 19,Female,388.0,1325.0,2224055,4562214,29.042916,82119776,0.050791,1.475105,1144.386333
3,2008,Germany,20 - 24,Female,520.0,1925.0,2395355,4878460,39.459174,82119776,0.057811,2.281186,1144.386333
4,2008,Germany,25 - 29,Female,642.0,2181.0,2459976,4981887,43.778592,82119776,0.062296,2.727219,1144.386333
5,2008,Germany,30 - 34,Female,746.0,2526.0,2320419,4705010,53.687452,82119776,0.061356,3.294035,1144.386333
6,2008,Germany,35 - 39,Female,1577.0,4577.0,2856585,5828519,78.527667,82119776,0.061675,4.843229,1144.386333
7,2008,Germany,40 - 44,Female,3260.0,9476.0,3469624,7115858,133.167357,82119776,0.070009,9.322862,1144.386333
8,2008,Germany,45 - 49,Female,5783.0,16511.0,3341439,6801471,242.756310,82119776,0.080442,19.527791,1144.386333
9,2008,Germany,5 - 9,Female,138.0,324.0,1831197,3759001,8.619311,82119776,0.043976,0.379047,1144.386333
10,2008,Germany,50 - 54,Female,8035.0,23544.0,2907154,5850118,402.453421,82119776,0.080101,32.237018,1144.386333
11,2008,Germany,55 - 59,Female,11178.0,32580.0,2683665,5322029,612.172538,82119776,0.071392,43.704508,1144.386333
12,2008,Germany,60 - 64,Female,13800.0,39767.0,2155823,4240202,937.856263,82119776,0.060676,56.905716,1144.386333
13,2008,Germany,65 - 69,Female,25206.0,71507.0,2723037,5234130,1366.167825,82119776,0.054758,74.808657,1144.386333
14,2008,Germany,70 - 74,Female,36543.0,95032.0,2363515,4370115,2174.588083,82119776,0.052882,114.995785,1144.386333
15,2008,Germany,75 - 79,Female,52494.0,117693.0,1748576,3024687,3891.080300,82119776,0.045613,177.483110,1144.386333
16,2008,Germany,80 - 84,Female,85837.0,149634.0,1464250,2225093,6724.842512,82119776,0.030786,207.032640,1144.386333
17,2008,Germany,85 - over,Female,199175.0,272476.0,1308735,1768466,15407.477441,82119776,0.025258,389.169403,1144.386333
36,2009,Germany,0 - 4,Female,1211.0,2863.0,1668119,3426168,83.562744,81874770,0.043607,3.643886,1132.592870
37,2009,Germany,10 - 14,Female,187.0,405.0,1933050,3971073,10.198755,81874770,0.046570,0.474960,1132.592870

In [59]:
ger_join.drop(["Gender", "deaths_by_year_gender_age", "population_by_gender_year_age"],axis=1)

,Year,Country,Age Range,deaths_by_year_age,pop_by_year_age,crude_rate,whole_pop,pop_rate,cal_1,ASMR
0,2008,Germany,0 - 4,2950.0,3456987,85.334426,82119776,0.043607,3.721143,1144.386333
1,2008,Germany,10 - 14,410.0,3995529,10.261470,82119776,0.046570,0.477880,1144.386333
2,2008,Germany,15 - 19,1325.0,4562214,29.042916,82119776,0.050791,1.475105,1144.386333
3,2008,Germany,20 - 24,1925.0,4878460,39.459174,82119776,0.057811,2.281186,1144.386333
4,2008,Germany,25 - 29,2181.0,4981887,43.778592,82119776,0.062296,2.727219,1144.386333
...,...,...,...,...,...,...,...,...,...,...
445,2020,Germany,65 - 69,67524.0,4879070,1383.952270,83160917,0.054758,75.782498,1069.453064
446,2020,Germany,70 - 74,78728.0,3821085,2060.357202,83160917,0.052882,108.955069,1069.453064
447,2020,Germany,75 - 79,123229.0,3672226,3355.703053,83160917,0.045613,153.063049,1069.453064
448,2020,Germany,80 - 84,194795.0,3362394,5793.342482,83160917,0.030786,178.355253,1069.453064
449,2020,Germany,85 - over,383704.0,2446394,15684.472738,83160917,0.025258,396.165882,1069.453064

In [60]:
ger_ASMR = ger_join[["Year", "ASMR"]]
ger_ASMR = ger_ASMR.groupby(["Year", "ASMR"]).value_counts().to_frame().reset_index()

In [61]:
ger_ASMR = ger_ASMR.drop(0, axis=1)

### b. Fin Dataset

In [62]:
fin = pd.read_csv("Fin_clean_for_ASMR.csv", on_bad_lines='skip',sep=None)
fin.head()

C:\Users\Big City Girl\AppData\Local\Temp\ipykernel_11384\4137478072.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support sep=None with delim_whitespace=False; you can avoid this warning by specifying engine='python'.
  fin = pd.read_csv("Fin_clean_for_ASMR.csv", on_bad_lines='skip',sep=None)

,Year,Country,Age Range,Gender,deaths_by_year_gender_age,deaths_by_year_age,population_by_gender_year_age
0,2008,Finland,0 - 4,Females,81,201,144198
1,2008,Finland,10 - 14,Females,13,31,151688
2,2008,Finland,15 - 19,Females,38,138,163216
3,2008,Finland,20 - 24,Females,53,220,158952
4,2008,Finland,25 - 29,Females,62,230,165701

In [63]:
fin['pop_by_year_age'] = fin.groupby(["Year", "Age Range"], sort=False)['population_by_gender_year_age'].transform('sum')
fin.head(30)

,Year,Country,Age Range,Gender,deaths_by_year_gender_age,deaths_by_year_age,population_by_gender_year_age,pop_by_year_age
0,2008,Finland,0 - 4,Females,81,201,144198,295002
1,2008,Finland,10 - 14,Females,13,31,151688,309342
2,2008,Finland,15 - 19,Females,38,138,163216,333177
3,2008,Finland,20 - 24,Females,53,220,158952,325440
4,2008,Finland,25 - 29,Females,62,230,165701,340416
5,2008,Finland,30 - 34,Females,64,272,162543,334075
6,2008,Finland,35 - 39,Females,104,387,152352,311930
7,2008,Finland,40 - 44,Females,191,687,181293,368125
8,2008,Finland,45 - 49,Females,300,1010,187140,377979
9,2008,Finland,5 - 9,Females,12,33,140101,286818
10,2008,Finland,50 - 54,Females,543,1731,191006,381671
11,2008,Finland,55 - 59,Females,837,2740,198198,394516
12,2008,Finland,60 - 64,Females,1058,3449,191508,375755
13,2008,Finland,65 - 69,Females,1139,3384,134775,255273
14,2008,Finland,70 - 74,Females,1656,4427,119916,217574
15,2008,Finland,75 - 79,Females,2883,6520,107138,180869
16,2008,Finland,80 - 84,Females,4674,8370,87427,134555
17,2008,Finland,85 - over,Females,10931,15260,77509,103797
18,2008,Finland,0 - 4,Males,120,201,150804,295002
19,2008,Finland,10 - 14,Males,18,31,157654,309342
20,2008,Finland,15 - 19,Males,100,138,169961,333177
21,2008,Finland,20 - 24,Males,167,220,166488,325440
22,2008,Finland,25 - 29,Males,168,230,174715,340416
23,2008,Finland,30 - 34,Males,208,272,171532,334075
24,2008,Finland,35 - 39,Males,283,387,159578,311930
25,2008,Finland,40 - 44,Males,496,687,186832,368125
26,2008,Finland,45 - 49,Males,710,1010,190839,377979
27,2008,Finland,5 - 9,Males,21,33,146717,286818
28,2008,Finland,50 - 54,Males,1188,1731,190665,381671
29,2008,Finland,55 - 59,Males,1903,2740,196318,394516

In [64]:
fin["crude_rate"] = fin["deaths_by_year_age"]/fin["pop_by_year_age"]*100000
fin.head(25)

,Year,Country,Age Range,Gender,deaths_by_year_gender_age,deaths_by_year_age,population_by_gender_year_age,pop_by_year_age,crude_rate
0,2008,Finland,0 - 4,Females,81,201,144198,295002,68.135131
1,2008,Finland,10 - 14,Females,13,31,151688,309342,10.021271
2,2008,Finland,15 - 19,Females,38,138,163216,333177,41.419426
3,2008,Finland,20 - 24,Females,53,220,158952,325440,67.600787
4,2008,Finland,25 - 29,Females,62,230,165701,340416,67.564392
5,2008,Finland,30 - 34,Females,64,272,162543,334075,81.418843
6,2008,Finland,35 - 39,Females,104,387,152352,311930,124.066297
7,2008,Finland,40 - 44,Females,191,687,181293,368125,186.621392
8,2008,Finland,45 - 49,Females,300,1010,187140,377979,267.210612
9,2008,Finland,5 - 9,Females,12,33,140101,286818,11.505554
10,2008,Finland,50 - 54,Females,543,1731,191006,381671,453.531969
11,2008,Finland,55 - 59,Females,837,2740,198198,394516,694.521895
12,2008,Finland,60 - 64,Females,1058,3449,191508,375755,917.885324
13,2008,Finland,65 - 69,Females,1139,3384,134775,255273,1325.639609
14,2008,Finland,70 - 74,Females,1656,4427,119916,217574,2034.710030
15,2008,Finland,75 - 79,Females,2883,6520,107138,180869,3604.818957
16,2008,Finland,80 - 84,Females,4674,8370,87427,134555,6220.504626
17,2008,Finland,85 - over,Females,10931,15260,77509,103797,14701.773654
18,2008,Finland,0 - 4,Males,120,201,150804,295002,68.135131
19,2008,Finland,10 - 14,Males,18,31,157654,309342,10.021271
20,2008,Finland,15 - 19,Males,100,138,169961,333177,41.419426
21,2008,Finland,20 - 24,Males,167,220,166488,325440,67.600787
22,2008,Finland,25 - 29,Males,168,230,174715,340416,67.564392
23,2008,Finland,30 - 34,Males,208,272,171532,334075,81.418843
24,2008,Finland,35 - 39,Males,283,387,159578,311930,124.066297

In [65]:
fin["whole_pop"] = fin.groupby("Year", sort=False)['population_by_gender_year_age'].transform('sum')
fin.head(20)

,Year,Country,Age Range,Gender,deaths_by_year_gender_age,deaths_by_year_age,population_by_gender_year_age,pop_by_year_age,crude_rate,whole_pop
0,2008,Finland,0 - 4,Females,81,201,144198,295002,68.135131,5326314
1,2008,Finland,10 - 14,Females,13,31,151688,309342,10.021271,5326314
2,2008,Finland,15 - 19,Females,38,138,163216,333177,41.419426,5326314
3,2008,Finland,20 - 24,Females,53,220,158952,325440,67.600787,5326314
4,2008,Finland,25 - 29,Females,62,230,165701,340416,67.564392,5326314
5,2008,Finland,30 - 34,Females,64,272,162543,334075,81.418843,5326314
6,2008,Finland,35 - 39,Females,104,387,152352,311930,124.066297,5326314
7,2008,Finland,40 - 44,Females,191,687,181293,368125,186.621392,5326314
8,2008,Finland,45 - 49,Females,300,1010,187140,377979,267.210612,5326314
9,2008,Finland,5 - 9,Females,12,33,140101,286818,11.505554,5326314
10,2008,Finland,50 - 54,Females,543,1731,191006,381671,453.531969,5326314
11,2008,Finland,55 - 59,Females,837,2740,198198,394516,694.521895,5326314
12,2008,Finland,60 - 64,Females,1058,3449,191508,375755,917.885324,5326314
13,2008,Finland,65 - 69,Females,1139,3384,134775,255273,1325.639609,5326314
14,2008,Finland,70 - 74,Females,1656,4427,119916,217574,2034.710030,5326314
15,2008,Finland,75 - 79,Females,2883,6520,107138,180869,3604.818957,5326314
16,2008,Finland,80 - 84,Females,4674,8370,87427,134555,6220.504626,5326314
17,2008,Finland,85 - over,Females,10931,15260,77509,103797,14701.773654,5326314
18,2008,Finland,0 - 4,Males,120,201,150804,295002,68.135131,5326314
19,2008,Finland,10 - 14,Males,18,31,157654,309342,10.021271,5326314

In [66]:
fin_pop_distribution_by_age_group = fin[["Year", "Gender", "Age Range", "pop_by_year_age", "whole_pop"]]
fin_pop_distribution_by_age_group.head(25)

    Year   Gender  Age Range  pop_by_year_age  whole_pop
0   2008  Females      0 - 4           295002    5326314
1   2008  Females    10 - 14           309342    5326314
2   2008  Females    15 - 19           333177    5326314
3   2008  Females    20 - 24           325440    5326314
4   2008  Females    25 - 29           340416    5326314
5   2008  Females    30 - 34           334075    5326314
6   2008  Females    35 - 39           311930    5326314
7   2008  Females    40 - 44           368125    5326314
8   2008  Females    45 - 49           377979    5326314
9   2008  Females      5 - 9           286818    5326314
10  2008  Females    50 - 54           381671    5326314
11  2008  Females    55 - 59           394516    5326314
12  2008  Females    60 - 64           375755    5326314
13  2008  Females    65 - 69           255273    5326314
14  2008  Females    70 - 74           217574    5326314
15  2008  Females    75 - 79           180869    5326314
16  2008  Females    80 - 84           134555    5326314
17  2008  Females  85 - over           103797    5326314
18  2008    Males      0 - 4           295002    5326314
19  2008    Males    10 - 14           309342    5326314
20  2008    Males    15 - 19           333177    5326314
21  2008    Males    20 - 24           325440    5326314
22  2008    Males    25 - 29           340416    5326314
23  2008    Males    30 - 34           334075    5326314
24  2008    Males    35 - 39           311930    5326314

In [67]:
fin_pop_distribution_by_age_group.drop(fin_pop_distribution_by_age_group[fin_pop_distribution_by_age_group.Gender == "Males"].index, inplace=True)

C:\Users\Big City Girl\AppData\Local\Temp\ipykernel_11384\4082796847.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fin_pop_distribution_by_age_group.drop(fin_pop_distribution_by_age_group[fin_pop_distribution_by_age_group.Gender == "Males"].index, inplace=True)

In [68]:
fin_pop_distribution_by_age_group["pop_rate"] = fin_pop_distribution_by_age_group["pop_by_year_age"]/fin_pop_distribution_by_age_group["whole_pop"]
fin_pop_distribution_by_age_group.head(25)

C:\Users\Big City Girl\AppData\Local\Temp\ipykernel_11384\2877694225.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fin_pop_distribution_by_age_group["pop_rate"] = fin_pop_distribution_by_age_group["pop_by_year_age"]/fin_pop_distribution_by_age_group["whole_pop"]

    Year   Gender  Age Range  pop_by_year_age  whole_pop  pop_rate
0   2008  Females      0 - 4           295002    5326314  0.055386
1   2008  Females    10 - 14           309342    5326314  0.058078
2   2008  Females    15 - 19           333177    5326314  0.062553
3   2008  Females    20 - 24           325440    5326314  0.061100
4   2008  Females    25 - 29           340416    5326314  0.063912
5   2008  Females    30 - 34           334075    5326314  0.062722
6   2008  Females    35 - 39           311930    5326314  0.058564
7   2008  Females    40 - 44           368125    5326314  0.069114
8   2008  Females    45 - 49           377979    5326314  0.070964
9   2008  Females      5 - 9           286818    5326314  0.053849
10  2008  Females    50 - 54           381671    5326314  0.071658
11  2008  Females    55 - 59           394516    5326314  0.074069
12  2008  Females    60 - 64           375755    5326314  0.070547
13  2008  Females    65 - 69           255273    5326314  0.047927
14  2008  Females    70 - 74           217574    5326314  0.040849
15  2008  Females    75 - 79           180869    5326314  0.033958
16  2008  Females    80 - 84           134555    5326314  0.025262
17  2008  Females  85 - over           103797    5326314  0.019488
36  2009  Females      0 - 4           298114    5351427  0.055707
37  2009  Females    10 - 14           302423    5351427  0.056513
38  2009  Females    15 - 19           334636    5351427  0.062532
39  2009  Females    20 - 24           324472    5351427  0.060633
40  2009  Females    25 - 29           344634    5351427  0.064400
41  2009  Females    30 - 34           337970    5351427  0.063155
42  2009  Females    35 - 39           310768    5351427  0.058072

In [69]:
fin_pop_distribution_by_age_group.drop(fin_pop_distribution_by_age_group[fin_pop_distribution_by_age_group.Year == 2020].index, inplace=True)

C:\Users\Big City Girl\AppData\Local\Temp\ipykernel_11384\1588958680.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fin_pop_distribution_by_age_group.drop(fin_pop_distribution_by_age_group[fin_pop_distribution_by_age_group.Year == 2020].index, inplace=True)

In [70]:
fin_new = fin_pop_distribution_by_age_group.groupby(["Age Range"]).agg({'pop_rate':'mean'}).reset_index()
fin_new.head(20)

    Age Range  pop_rate
0       0 - 4  0.053418
1     10 - 14  0.054836
2     15 - 19  0.057535
3     20 - 24  0.060752
4     25 - 29  0.063545
5     30 - 34  0.063795
6     35 - 39  0.061660
7     40 - 44  0.061821
8     45 - 49  0.065211
9       5 - 9  0.055093
10    50 - 54  0.068347
11    55 - 59  0.069048
12    60 - 64  0.069632
13    65 - 69  0.061156
14    70 - 74  0.047945
15    75 - 79  0.035666
16    80 - 84  0.026710
17  85 - over  0.023831

In [71]:
'${:,.3f}'.format(sum(fin_new.pop_rate))

'$1.000'

In [72]:
fin.drop(fin[fin.Gender == "Males"].index, inplace=True)
fin.head(30)

,Year,Country,Age Range,Gender,deaths_by_year_gender_age,deaths_by_year_age,population_by_gender_year_age,pop_by_year_age,crude_rate,whole_pop
0,2008,Finland,0 - 4,Females,81,201,144198,295002,68.135131,5326314
1,2008,Finland,10 - 14,Females,13,31,151688,309342,10.021271,5326314
2,2008,Finland,15 - 19,Females,38,138,163216,333177,41.419426,5326314
3,2008,Finland,20 - 24,Females,53,220,158952,325440,67.600787,5326314
4,2008,Finland,25 - 29,Females,62,230,165701,340416,67.564392,5326314
5,2008,Finland,30 - 34,Females,64,272,162543,334075,81.418843,5326314
6,2008,Finland,35 - 39,Females,104,387,152352,311930,124.066297,5326314
7,2008,Finland,40 - 44,Females,191,687,181293,368125,186.621392,5326314
8,2008,Finland,45 - 49,Females,300,1010,187140,377979,267.210612,5326314
9,2008,Finland,5 - 9,Females,12,33,140101,286818,11.505554,5326314
10,2008,Finland,50 - 54,Females,543,1731,191006,381671,453.531969,5326314
11,2008,Finland,55 - 59,Females,837,2740,198198,394516,694.521895,5326314
12,2008,Finland,60 - 64,Females,1058,3449,191508,375755,917.885324,5326314
13,2008,Finland,65 - 69,Females,1139,3384,134775,255273,1325.639609,5326314
14,2008,Finland,70 - 74,Females,1656,4427,119916,217574,2034.710030,5326314
15,2008,Finland,75 - 79,Females,2883,6520,107138,180869,3604.818957,5326314
16,2008,Finland,80 - 84,Females,4674,8370,87427,134555,6220.504626,5326314
17,2008,Finland,85 - over,Females,10931,15260,77509,103797,14701.773654,5326314
36,2009,Finland,0 - 4,Females,95,186,145917,298114,62.392239,5351427
37,2009,Finland,10 - 14,Females,18,35,148167,302423,11.573194,5351427
38,2009,Finland,15 - 19,Females,40,146,164053,334636,43.629496,5351427
39,2009,Finland,20 - 24,Females,52,212,158484,324472,65.336917,5351427
40,2009,Finland,25 - 29,Females,62,244,167612,344634,70.799747,5351427
41,2009,Finland,30 - 34,Females,72,309,164398,337970,91.428233,5351427
42,2009,Finland,35 - 39,Females,90,346,151847,310768,111.337075,5351427
43,2009,Finland,40 - 44,Females,197,626,176611,358754,174.492828,5351427
44,2009,Finland,45 - 49,Females,328,1094,187231,378341,289.157136,5351427
45,2009,Finland,5 - 9,Females,8,20,140419,287786,6.949608,5351427
46,2009,Finland,50 - 54,Females,490,1590,188726,378037,420.593751,5351427
47,2009,Finland,55 - 59,Females,801,2482,195763,388165,639.418804,5351427

In [73]:
fin_join = fin.join(fin_new.set_index('Age Range'), on='Age Range')

In [74]:
fin_join.head(20)

,Year,Country,Age Range,Gender,deaths_by_year_gender_age,deaths_by_year_age,population_by_gender_year_age,pop_by_year_age,crude_rate,whole_pop,pop_rate
0,2008,Finland,0 - 4,Females,81,201,144198,295002,68.135131,5326314,0.053418
1,2008,Finland,10 - 14,Females,13,31,151688,309342,10.021271,5326314,0.054836
2,2008,Finland,15 - 19,Females,38,138,163216,333177,41.419426,5326314,0.057535
3,2008,Finland,20 - 24,Females,53,220,158952,325440,67.600787,5326314,0.060752
4,2008,Finland,25 - 29,Females,62,230,165701,340416,67.564392,5326314,0.063545
5,2008,Finland,30 - 34,Females,64,272,162543,334075,81.418843,5326314,0.063795
6,2008,Finland,35 - 39,Females,104,387,152352,311930,124.066297,5326314,0.061660
7,2008,Finland,40 - 44,Females,191,687,181293,368125,186.621392,5326314,0.061821
8,2008,Finland,45 - 49,Females,300,1010,187140,377979,267.210612,5326314,0.065211
9,2008,Finland,5 - 9,Females,12,33,140101,286818,11.505554,5326314,0.055093
10,2008,Finland,50 - 54,Females,543,1731,191006,381671,453.531969,5326314,0.068347
11,2008,Finland,55 - 59,Females,837,2740,198198,394516,694.521895,5326314,0.069048
12,2008,Finland,60 - 64,Females,1058,3449,191508,375755,917.885324,5326314,0.069632
13,2008,Finland,65 - 69,Females,1139,3384,134775,255273,1325.639609,5326314,0.061156
14,2008,Finland,70 - 74,Females,1656,4427,119916,217574,2034.710030,5326314,0.047945
15,2008,Finland,75 - 79,Females,2883,6520,107138,180869,3604.818957,5326314,0.035666
16,2008,Finland,80 - 84,Females,4674,8370,87427,134555,6220.504626,5326314,0.026710
17,2008,Finland,85 - over,Females,10931,15260,77509,103797,14701.773654,5326314,0.023831
36,2009,Finland,0 - 4,Females,95,186,145917,298114,62.392239,5351427,0.053418
37,2009,Finland,10 - 14,Females,18,35,148167,302423,11.573194,5351427,0.054836

In [75]:
fin_join.drop(["Gender", "deaths_by_year_gender_age", "population_by_gender_year_age"],axis=1)

,Year,Country,Age Range,deaths_by_year_age,pop_by_year_age,crude_rate,whole_pop,pop_rate
0,2008,Finland,0 - 4,201,295002,68.135131,5326314,0.053418
1,2008,Finland,10 - 14,31,309342,10.021271,5326314,0.054836
2,2008,Finland,15 - 19,138,333177,41.419426,5326314,0.057535
3,2008,Finland,20 - 24,220,325440,67.600787,5326314,0.060752
4,2008,Finland,25 - 29,230,340416,67.564392,5326314,0.063545
...,...,...,...,...,...,...,...,...
445,2020,Finland,65 - 69,4089,353975,1155.166325,5533793,0.061156
446,2020,Finland,70 - 74,6482,354128,1830.411603,5533793,0.047945
447,2020,Finland,75 - 79,6401,232426,2753.994820,5533793,0.035666
448,2020,Finland,80 - 84,8844,160459,5511.688344,5533793,0.026710
449,2020,Finland,85 - over,21933,154950,14154.888674,5533793,0.023831

In [76]:
fin_join["cal_1"]=fin_join["crude_rate"]*fin_join["pop_rate"]

In [77]:
fin_join["ASMR"]=fin_join.groupby("Year", sort=False)['cal_1'].transform('sum')
fin_join.head(20)

,Year,Country,Age Range,Gender,deaths_by_year_gender_age,deaths_by_year_age,population_by_gender_year_age,pop_by_year_age,crude_rate,whole_pop,pop_rate,cal_1,ASMR
0,2008,Finland,0 - 4,Females,81,201,144198,295002,68.135131,5326314,0.053418,3.639633,1023.978344
1,2008,Finland,10 - 14,Females,13,31,151688,309342,10.021271,5326314,0.054836,0.549523,1023.978344
2,2008,Finland,15 - 19,Females,38,138,163216,333177,41.419426,5326314,0.057535,2.383058,1023.978344
3,2008,Finland,20 - 24,Females,53,220,158952,325440,67.600787,5326314,0.060752,4.106909,1023.978344
4,2008,Finland,25 - 29,Females,62,230,165701,340416,67.564392,5326314,0.063545,4.293379,1023.978344
5,2008,Finland,30 - 34,Females,64,272,162543,334075,81.418843,5326314,0.063795,5.194091,1023.978344
6,2008,Finland,35 - 39,Females,104,387,152352,311930,124.066297,5326314,0.061660,7.649920,1023.978344
7,2008,Finland,40 - 44,Females,191,687,181293,368125,186.621392,5326314,0.061821,11.537135,1023.978344
8,2008,Finland,45 - 49,Females,300,1010,187140,377979,267.210612,5326314,0.065211,17.424940,1023.978344
9,2008,Finland,5 - 9,Females,12,33,140101,286818,11.505554,5326314,0.055093,0.633876,1023.978344
10,2008,Finland,50 - 54,Females,543,1731,191006,381671,453.531969,5326314,0.068347,30.997460,1023.978344
11,2008,Finland,55 - 59,Females,837,2740,198198,394516,694.521895,5326314,0.069048,47.955665,1023.978344
12,2008,Finland,60 - 64,Females,1058,3449,191508,375755,917.885324,5326314,0.069632,63.914160,1023.978344
13,2008,Finland,65 - 69,Females,1139,3384,134775,255273,1325.639609,5326314,0.061156,81.071096,1023.978344
14,2008,Finland,70 - 74,Females,1656,4427,119916,217574,2034.710030,5326314,0.047945,97.554280,1023.978344
15,2008,Finland,75 - 79,Females,2883,6520,107138,180869,3604.818957,5326314,0.035666,128.569112,1023.978344
16,2008,Finland,80 - 84,Females,4674,8370,87427,134555,6220.504626,5326314,0.026710,166.149530,1023.978344
17,2008,Finland,85 - over,Females,10931,15260,77509,103797,14701.773654,5326314,0.023831,350.354578,1023.978344
36,2009,Finland,0 - 4,Females,95,186,145917,298114,62.392239,5351427,0.053418,3.332860,1016.186407
37,2009,Finland,10 - 14,Females,18,35,148167,302423,11.573194,5351427,0.054836,0.634623,1016.186407

In [78]:
fin_ASMR = fin_join[["Year", "ASMR"]]
fin_ASMR = fin_ASMR.groupby(["Year", "ASMR"]).value_counts().to_frame().reset_index()

In [79]:
fin_ASMR = fin_ASMR.drop(0, axis=1)

# Merging dataframes and save to csv

In [80]:
fin_ASMR=fin_ASMR.rename(columns={"ASMR": "Finland"})

In [81]:
ger_ASMR= ger_ASMR.rename(columns={"ASMR": "Germany"})

In [82]:
asmr = pd.merge(fin_ASMR, ger_ASMR)
asmr.head(50)

    Year      Finland      Germany
0   2008  1023.978344  1144.386333
1   2009  1016.186407  1132.592870
2   2010  1010.669544  1111.141809
3   2011   978.770622  1104.316791
4   2012   980.977549  1103.742429
5   2013   953.623795  1113.369356
6   2014   949.736480  1056.986100
7   2015   925.772148  1100.198533
8   2016   934.194247  1062.517990
9   2017   912.563191  1069.431650
10  2018   911.312764  1080.587706
11  2019   882.122026  1043.295486
12  2020   889.706711  1069.453064

In [83]:
asmr.to_csv("ASMR.csv",index=False)